/* Fonts */
@font-face {
    font-family: "Teko-Light";
    src: url('../fonts/Teko-Light.woff') format('woff'), url('../fonts/Teko-Light.woff2') format('woff2');
}

@font-face {
    font-family: "Teko-Medium";
    src: url('../fonts/Teko-Medium.woff') format('woff'), url('../fonts/Teko-Medium.woff2') format('woff2');
}

@font-face {
    font-family: "Teko";
    src: url('../fonts/Teko-Regular.woff') format('woff'), url('../fonts/Teko-Regular.woff2') format('woff2');
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal styles */

body {
    background-color: #232426;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
blockquote,
cite,
button,
input[type="submit"] {
    font-family: Teko;
}

p,
li,
figcaption,
label {
    font-family: Teko-Light;
}