/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/homepageimage.jpg");

    /* Set a specific height */
    height: 463px;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
}

.hero-button {
    color: white;
    background-color: #F8B632;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 24px;
    font-family: teko-light;
    border: none;
    cursor: pointer;
}

.hero-button:hover {
    color: #F8B632;
    background-color: white;

}

.hero-p {
    margin-bottom: 20px;
}

@media (max-width: 930px) {
    .hero-text {
        font-size: 42px;
    }

    .hero-button {
        font-size: 24px;
    }

    .hero-button:hover {
        color: #F8B632;
        background-color: white;

    }

    .hero-p {
        margin-bottom: 20px;
    }
}

@media (max-width: 460px) {

    /* The hero image */
    .hero-image {
        background-position: 45%;
    }

    .hero-text {
        font-size: 32px;
        width: 100%;
    }

    .hero-button {
        font-size: 22px;
    }
}