/* Position the image container (needed to position the left and right arrows) */
.container-gallery {
    position: relative;
    margin: 40px auto 60px;
    max-width: 850px;
    border: 2px solid #D7D7D9;
    border-radius: 10px;
}

.image-slide {
    width: 100%;
    border-radius: 10px 8px 0 0;
}

/* Next & previous buttons */
.prevButton,
.nextButton {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    background-color: transparent;

    transition: 0.2s ease-in-out;
}

/* Position the "next button" to the right */
.nextButton {
    right: 0;
    border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.nextButton:hover,
.nextButton:active,
.nextButton:focus,
.prevButton:hover,
.prevButton:active,
.prevButton:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Number text (1/3 etc) */
.number-text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: teko-light;
    background-color: #232426;
    border-radius: 10px 0 10px 0;
}

/*Slider thubmbnails*/

.thumbnails {
    display: flex;
    flex-flow: row nowrap;
    height: 140px;
}

.thumbnail {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: calc(100% / 5);
    height: auto;
}

.thumbnail:first-of-type {
    border-radius: 0 0 0 8px;
}

.thumbnail:last-of-type {
    border-radius: 0 0 8px 0;
}

.thumbnail.active,
.thumbnail:hover,
.thumbnail:focus,
.thumbnail:active {
    opacity: 1;
}

.slides-text-section {
    max-width: 850px;
    color: #FFF;
    margin: 0 auto;
}

.slides-h2 {
    text-align: left;
    font-size: 32px;
}

.slides-p {
    font-size: 22px;
}

@media (max-width: 1280px) {
    .thumbnails {
        height: 110px;
    }
}

@media (max-width: 1020px) {
    .thumbnails {
        height: 140px;
    }
}

@media (max-width: 720px) {
    .thumbnails {
        height: 120px;
    }
}

@media (max-width: 620px) {
    .thumbnails {
        height: 100px;
    }
}


@media (max-width: 460px) {

    .thumbnails {
        height: 80px;
    }

    .slides-p {
        font-size: 18px;
        line-height: 1.5;
    }
}

@media (max-width: 360px) {

    .thumbnails {
        height: 60px;
    }
}