.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
}

.timeline-item {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    width: calc(50% - 40px);
}

.timeline-item-title {
    font-size: 22px;
    margin-bottom: 16px;
}

.timeline-item-subtitle {
    font-size: 15px;
    margin-bottom: 15px;
}

.timeline-item-text {
    font-size: 15px;
    line-height: 1.5;
}

/*Circle Base*/
.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #EFBA49;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/*Arrow Base*/
.timeline-item::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;

}

/*Left Items*/
.timeline-item:nth-child(odd) {
    left: 0;
}

/*Arrow Left Items*/
.timeline-item:nth-child(odd)::before {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    right: -10px;
}

/*Circle Left Items*/
.timeline-item:nth-child(odd)::after {
    /* 25px(Circle Width) + 4px(Circle border) / 2 + 40px (Margin) + 6px (Timeline width)*/
    right: -59.5px;
}

/*Right Items*/
.timeline-item:nth-child(even) {
    /*50% + timeline margin(40px) + timeline width(6px)*/
    left: calc(50% + 46px);
}

/*Arrow Right Items*/
.timeline-item:nth-child(even)::before {
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/*Circle Right Items*/
.timeline-item:nth-child(even)::after {
    /* 25px(Circle Width) + 4px(Circle border) / 2 + 40px (Margin) + 6px (Timeline width)*/
    left: -60.5px;
}